<div class="container mt-5">

    <div *ngIf="cat" class="row animate_animated animate_bounce animate_fadeIn">
        <div class="col-md-9">
            <p><strong>Identifier:</strong> {{cat[0].breeds[0].id}}</p>
            <p><strong>Name:</strong> {{cat[0].breeds[0].name}}</p>
            <p><strong>Description:</strong> {{cat[0].breeds[0].description}}</p>
            <p><strong>Wikipedia Url:</strong> {{cat[0].breeds[0].wikipedia_url}}</p>
            <img class="img-fluid.max-width: 60%" style="height: auto;" src="{{cat[0].url}}" alt="">
        </div>

        <div class="col-md-3">
            <a class="btn btn-danger" routerLink="/">Back</a>
        </div>
    </div>
</div>